{% extends 'base.html.twig' %}

{% block title %}Dashboard - Accueil{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <nav>
            <div class="nav-elements">
                <a class="nav-item home-icon tooltip active-home" href="{{ path('dashboard') }}">
                    <i class="material-icons nav-logo ">home</i>
                    <span class="tooltiptext">Accueil</span>
                </a>

                <a class="nav-item list-icon tooltip" href="{{ path('list') }}">
                    <i class="material-icons nav-logo">list</i>
                    <span class="tooltiptext">Liste</span>
                </a>

                <a class="nav-item profil-icon tooltip" href="{{ path('profile') }}">
                    <i class="material-icons nav-logo">account_circle</i>
                    <span class="tooltiptext">Profil</span>
                </a>
            </div>
            <div class="logout-element">
                <a class="nav-item logout-icon tooltip" href="{{ path('logout') }}">
                    <i class="fas fa-sign-out-alt nav-logo"></i>
                    <span class="tooltiptext">Déconnexion</span>
                </a>
            </div>

        </nav>

        <div class="main-container">
            <h2 class="hello">Bonjour
                {{ app.user.username }}
                !</h2>
            <div class="content-container">

                <div class="top-screens">
                    <div class="marks-screen">
                        <h2 class="heading underline">
                            <!--<i class="fas fa-graduation-cap classe-logo"></i>-->
                            Statistiques générales
                        </h2>
                        <div class="work-quality">
                            <p class="title-work-quality">Qualité du travail :</p>
                            <div class="progress-circle over50 p55 quality-work">
                                <span>55%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="plus-minus-block">
                            <div class="plus">
                                <p>Nouveaux élèves :
                                    <em>+1</em>
                                </p>
                            </div>
                            <div class="minus">
                                <p>Elèves partis :
                                    <em>-4</em>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="marks-screen2">
                        <h2 class="heading">
                            <!--<i class="fas fa-clock ra-logo"></i>-->
                            Retards & Absences
                        </h2>
                        <div class="ponctuality-circle">
                            <p>Ponctualité</p>
                            <div class="progress-circle over50 p90 ra-circles">
                                <span>90%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="absent-circle">
                            <p>Absentéisme</p>
                            <div class="progress-circle p3 ra-circles">
                                <span>3%</span>
                                <div class="left-half-clipper">
                                    <div class="first50-bar"></div>
                                    <div class="value-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-screens">
                    <div class="marks-screen3">
                        <h2 class="heading">
                            Classement
                        </h2>
                        <div class="scrollview">
                            <table class="list-dashboard" onload="sortTable()">
                                <thead>
                                    <tr class="head">
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Moyenne</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for user in users %}
                                        <tr class="body">
                                            <td>{{ user.lastname }}</td>
                                            <td>{{ user.firstname }}</td>
                                            <td class="average">{{ (user.markDev + user.markNetwork + user.markBdd)/3 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>

</div>
{% endblock %}