{% extends 'base.html.twig' %}

{% block title %}Dashboard - Accueil{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <nav>
            <div class="nav-elements">
                <a class="nav-item home-icon tooltip active-home" href="{{ path('dashboard') }}">
                    <i class="material-icons nav-logo ">home</i>
                    <span class="tooltiptext">Accueil</span>
                </a>

                <a class="nav-item list-icon tooltip" href="{{ path('list') }}">
                    <i class="material-icons nav-logo">list</i>
                    <span class="tooltiptext">Liste</span>
                </a>

                <a class="nav-item profil-icon tooltip" href="{{ path('profile') }}">
                    <i class="material-icons nav-logo">account_circle</i>
                    <span class="tooltiptext">Profil</span>
                </a>
            </div>
            <div class="logout-element">
                <a class="nav-item logout-icon tooltip" href="{{ path('logout') }}">
                    <i class="fas fa-sign-out-alt nav-logo"></i>
                    <span class="tooltiptext">Déconnexion</span>
                </a>
            </div>

        </nav>

        <div class="main-container">
            <div class="content-container">

                <h2 class="hello">Bonjour {{ app.user.username }} !</h2>

                <div class="marks_screen">
                    <i class="fas fa-graduation-cap notes_logo"></i>
                    <h2 class="heading">Notes</h2>
                </div>

                <div class="marks_screen2">
                    <i class="fas fa-clock ra_logo"></i>
                    <h2 class="heading">Retards & Absences</h2>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
{% endblock %}