{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('../../src/assets/security.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Hello !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <a href="{{ path('logout') }}">Se déconnecter</a>
    <h1>Connexion</h1>

    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <input type="text" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur">
        <input type="password" name="_password" placeholder="Mot de passe">

        <button type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
