{% extends 'base.html.twig' %}

{% block title %}Dashboard | Liste des élèves{% endblock %}

{% block body %}


    <nav>
        <div class="nav-elements">
            <a class="nav-item home-icon tooltip" href="{{ path('dashboard') }}">
                <i class="material-icons nav-logo ">home</i>
                <span class="tooltiptext">Accueil</span>
            </a>

            <a class="nav-item list-icon tooltip active-list" href="{{ path('list') }}">
                <i class="material-icons nav-logo">list</i>
                <span class="tooltiptext">Liste</span>
            </a>

            <a class="nav-item profil-icon tooltip" href="{{ path('profile') }}">
                <i class="material-icons nav-logo">account_circle</i>
                <span class="tooltiptext">Profil</span>
            </a>
        </div>
        <div class="logout-element">
            <a class="nav-item logout-icon tooltip" href="{{ path('logout') }}">
                <i class="fas fa-sign-out-alt nav-logo"></i>
                <span class="tooltiptext">Déconnexion</span>
            </a>
        </div>

    </nav>

    <div class="main-container">
        <div class="content-container">
            <h1 class="title-list">Liste des élèves</h1>

            <table>
                <thead>
                    <tr class="head">
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Note Développement</th>
                        <th>Note Réseau</th>
                        <th>Note Base de données</th>
                        <th>Moyenne</th>
                        <th>Taux de ponctualité</th>
                    </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr class="body">
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.markDev }}</td>
                        <td>{{ user.markNetwork }}</td>
                        <td>{{ user.markBdd }}</td>
                        <td>{{ (user.markDev + user.markNetwork + user.markBdd)/3 }}</td>
                        <td>{{ user.markPunctuality }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
