{% extends 'base.html.twig' %}

{% block title %}Dashboard | Votre profil{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <nav>
            <div class="nav-elements">
                <a class="nav-item home-icon tooltip" href="{{ path('dashboard') }}">
                    <i class="material-icons nav-logo ">home</i>
                    <span class="tooltiptext">Accueil</span>
                </a>

                <a class="nav-item list-icon tooltip" href="#">
                    <i class="material-icons nav-logo">list</i>
                    <span class="tooltiptext">Liste</span>
                </a>

                <a class="nav-item profil-icon tooltip active-profil" href="{{ path('profile') }}">
                    <i class="material-icons nav-logo">account_circle</i>
                    <span class="tooltiptext">Profil</span>
                </a>
            </div>
            <div class="logout-element">
                <a class="nav-item logout-icon tooltip" href="{{ path('logout') }}">
                    <i class="fas fa-sign-out-alt nav-logo"></i>
                    <span class="tooltiptext">Déconnexion</span>
                </a>
            </div>
        </nav>

        <div class="main-container">

            <div class="content-container">
                <div class="card">
                    <div class="card-banner">
                        <div class="card-profile">
                            <i class="fas fa-user-circle user-photo"></i>
                        </div>
                        <h3>Votre profil</h3>
                        <hr>
                        <p>Nom : <span>'ici votre nom'</span></p>
                        <p>Prénom : <span>'ici votre prénom'</span></p>
                        <p>Nom d'utilisateur : <span>{{ app.user.username }}</span></p>
                        <p>Adresse email : <span>{{ app.user.email }}</span></p>


                        <h3>Statistiques générales</h3>
                        <div class="progress-bars">
                            <div class="personnal-stat">
                                <p>Développement</p>
                                <progress value="15" max="20"></progress>
                            </div>
                            <div class="personnal-stat">
                                <p>Réseau</p>
                                <progress value="10" max="20"></progress>
                            </div>
                            <div class="personnal-stat">
                                <p>Base de données</p>
                                <progress value="15" max="20"></progress>
                            </div>
                            <div class="personnal-stat">
                                <p>Ponctualité</p>
                                <progress value="100" max="100"></progress>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}